.parentBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {
    margin: 40px;
}

input {
    padding: 10px;
    border-radius: 8px;
    width: 400px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.subItems {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

span {
    display: block;
}